@{
    ViewData["Title"] = "Index";
}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align:center">
                   Тут Ви можете дізнатися детальнішу інформацію про школу
                </h1>
            </div>
        </div>
    </div>